@model TopLearn.DataLayer.Entities.User.User

<div style="direction:rtl; padding: 20px;">
    <h2>@Model.UserName عزیز</h2>
    <p>با تشکر از ثبت نام شما برای فعاسازی حساب کاربری خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="https://localhost:44329/Account/ActiveAccount/@Model.ActiveCode">لینک فعالسازی</a>
    </p>
</div>